.fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.gamja-flower-regular {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("assets/yellowgreenbg.jpg");
    overflow: hidden;
}

/*scrollbar edits*/
html {
    scrollbar-color: rgba(251, 245, 209) rgba(168, 170, 66);
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background: #1a1a1a;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(96, 53, 0);;
    border-radius: 6px;
}


/*fonts edits*/
.name-header{
    font-family: "Fredoka";
    font-weight: 700;
    font-size: 45px;
    color: rgba(254, 242, 210);
    -webkit-text-stroke: 2px rgba(131, 105, 62); 
}
.username-header{
    font-family: "Gamja Flower";
    font-size: 30px;
    color: rgba(117, 19, 17);
}
.interest{
    font-family: "Fredoka";
    font-weight: 600;
    font-size: 23px;
    color: rgb(255, 246, 211);
    text-shadow: 0 0 8px rgba(131, 105, 62);
}
.school-name{
    font-family: "Gamja Flower";
    font-weight: 600;
    font-size: 25px;
    color: rgb(255, 246, 211);
    text-align: center;
    margin-top: 70px;
}
.infos{
    font-family: "Gamja Flower";
    font-size: 25px;
}
.text-highlight {
  background-color: rgba(132, 31, 28); /* Vibrant Yellow */
  color: inherit;            /* Dark text for contrast */
  padding: 0 4px;            /* Optional: adds breathing room around the highlight */
  border-radius: 3px;        /* Optional: rounds the edges slightly */
}
.more-info{
    font-family: "Gamja Flower";
    font-size: 25px;
    font-weight: 600px;
}

/*image edits*/
.icons{
    height: 45px;
    width: 45px;
}
.icon-home{
    height: 30px;
    width: 30px;
}
.photostrip{
    height: 350px;
    width: auto;
}
.stroberi{
    position: absolute;
    top: -10px;
    right:-20px;
    pointer-events: none;
    height: 130px;
    width: auto;
}
.yellow{
    position: absolute;
    top: 0;
    z-index: 0; /* Pushes image behind text */
    pointer-events: none;
    height: 70px;
    width: 100%;
}
.cat{
    height: 87px;
}
.orange{
    height: 87px;
    background-image: url("assets/orangee.jpeg");
    background-size: cover;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
.illus{
    height: 130px;
    width: auto;
    border: 4px solid rgba(240, 206, 84);
    border-radius: 7px;
}

/*containers*/
.center{
    display: flex;
    align-items: center;
}
.full-screen{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-container{
    width: 700px;
    height: 800px;
    background-color: rgba(251, 245, 209);
    border: 4px solid rgba(195, 72, 64);
    outline: 4px solid rgba(132, 31, 28);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mini-container{
    width: 670px;
    height: 765px;
    border: 3px solid rgba(98, 52, 8);
    border-radius: 10px;
    margin-top: 15px;
}
.section-1{
    width: 100%;
    height: 100px;
    border-bottom: 3px solid rgba(98, 52, 8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("assets/greenpolka.jpeg");
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.section-1-1{
    height: 55px;
    width: 130px;
    border: 3px solid rgba(96, 53, 0);
    border-radius: 10px;
    background-color: rgba(252, 245, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.section-1-1-123{
    height: 40px;
    width: 40px;
    border: 3px solid rgba(96, 53, 0);
    border-radius: 10px;
    background-color: rgba(240, 206, 84);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2{
    width: 100%;
    height: 60px;
    border-bottom: 3px solid rgba(98, 52, 8);
    background-image: url("assets/orangeslant.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3{
    width: 100%;
    height: 80px;
    border-bottom: 3px solid rgba(98, 52, 8);
    display: flex;
    flex-direction: row;
}
.section-3-1{
    width: 30%;
    height: 100%;
    background-image: url("assets/redstripe.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-right: 3px solid rgba(98, 52, 8);
}
.section-3-2{
    width: 70%;
    height: 100%;
    background-image: url("assets/yellowstripe.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-2-1{
    width: 93%;
    height: 60%;
    border: 3px solid rgba(98, 52, 8);
    border-radius: 8px;
    background-color: rgba(255, 243, 213);
    display: flex;
    flex-direction: row;
}

.section-4 {
    --active-bg: rgba(241, 207, 84);
    --active-color: rgba(117, 19, 17);
}

/*tabs trial*/
.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 10px -3px 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: 3px solid rgba(98, 52, 8);
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    padding: 2px 20px;
    transition: 0.3s;
    font-family: "Gamja Flower";
    font-size: 23px;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: none;
    outline: none;
}

.section-4-1{
    margin: 0px 10px 10px 10px;
}

.tab button:nth-child(1) { background-color: rgba(241, 207, 84); color: rgba(117, 19, 17); }
.tab button:nth-child(2) { background-color: rgba(232, 175, 107); color: rgba(117, 19, 17); }
.tab button:nth-child(3) { background-color: rgba(190, 42, 40); color: rgba(254, 245, 213); }
.tab button:nth-child(4) { background-color: rgba(168, 170, 66); color: rgba(254, 245, 213); }

/* Style the tab content */
.tabcontent {
    display: none;
    background-color: var(--active-bg);
    height: 370px;
    color: var(--active-color);
    border: 3px solid rgba(98, 52, 8);
    border-radius: 0px 10px 10px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.tabcontent-1{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: max-content;
    margin: 10px;
    gap: 30px;
    align-items: center;
}
.tabcontent-2{
    display: grid;
    grid-template-columns: auto auto auto;
}
.tabcontent-2-1{
    height: 280px;
    border-bottom: 3px solid rgba(98, 52, 8);
    border-right: 3px solid rgba(98, 52, 8);
    overflow-y: scroll;
}
.tabcontent-2-1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/yellow\ polka\ dots.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 180px;
    margin: 5px;
    border: 3px solid rgba(98, 52, 8);
    border-radius: 10px;
    position: fixed;
}
.section-4-3{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.section-4-3-1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.section-4-3-1-1{
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-5{
    height: 81px;
    width: 670px;
    background-image: url("assets/greenpolka.jpeg");
    border-top: 3px solid rgba(98, 52, 8);
    border-radius: 0 0 7px 7px;
    position: fixed;
}
